*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background-color: #111;
}
.footer-container{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-transform: none;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;

}
.footer-nav{
    margin: 30px 0;
}
.footer-nav ul{
    display: flex;
    justify-content: center;
    list-style-type: disc;
}
.footer-nav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.5em;
}
.footer-button{
    text-align: center;
    background-color: #111;
    padding: 30px;
}
.footer-button p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (max-width: 600px) {
    .footer-nav ul{
        flex-direction: column;
    }
    .footer-nav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}